@page
@model IndexModel

<div class="text-center">
    <img src="~/images/Verdandilogo.jpg" alt="Logo" style="max-width: 200px;" class="mb-3" />

    <h1 class="display-4">Välkommen</h1>
    <p>till Verdandi Medlemsregister.</p>
</div>

